<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qinkai.dao.OrderDao">

    <resultMap id="BaseResultMap" type="com.qinkai.pojo.Order">
        <id column="order_id" property="orderId"/>
        <result column="create_time" property="createTime"/>
        <result column="total_money" property="price"/>
        <result column="status" property="status"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <!--public int saveOrder(Order order);-->
    <insert id="saveOrder" parameterType="com.qinkai.pojo.Order">
    INSERT INTO `t_order`(`order_id`,`create_time`,`total_money`,`status`,`user_id`)
    VALUES(#{orderId},#{createTime},#{price},#{status},#{userId})
    </insert>

    <!--public List<Order> queryOrders();-->
    <select id="queryOrders" resultMap="BaseResultMap" resultType="com.qinkai.pojo.Order">
        SELECT `order_id`, `create_time` ,`total_money` ,`status`,`user_id`
        FROM `t_order`
    </select>

    <!--public List<Order> queryOrdersByUserId(Integer userId);-->
    <select id="queryOrdersByUserId" resultMap="BaseResultMap" resultType="com.qinkai.pojo.Order" parameterType="java.lang.Integer">
        SELECT `order_id` ,`create_time` ,`total_money` ,`status`,`user_id`
        FROM `t_order`
        WHERE `user_id`= #{userId}
    </select>
</mapper>